<span class="status-button badge <%= online_status&.online == true ? 'badge-light-success' : 'badge-light-danger' %> fw-bold me-1" data-online-status-id="<%= online_status&.id%>">
  <%= online_status&.online == true ? 'Online' : 'Offline' %>
</span>
