<form>
  <label for="brand">Brand:</label><br>
  <input type="text" id="fname" placeholder="Whirlpool, ..."><br><br>
  <label for="model">Model:</label><br>
  <input type="text" id="lname" placeholder="Model"><br><br>
  <label for="serialnumber">Serial Number:</label><br>
  <input type="text" id="lname" placeholder="Your Serial Number"><br><br>
  <input type="submit" value="Submit">
</form>