<div class="col-xl-12">
  <!--begin::Tables Widget 1-->
  <div class="card card-xl-stretch mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Applicances List</span>
        <span class="text-muted fw-bold fs-7">By database order</span>
      </h3>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
      <!--begin::Table container-->
      <div class="table-responsive">
        <!--begin::Table-->
        <table class="table align-middle gs-0 gy-5">
          <!--begin::Table head-->
          <thead>
            <tr>
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-200px"></th>
              <th class="p-0 min-w-100px"></th>
              <th class="p-0 min-w-40px"></th>
            </tr>
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img src="assets/media/svg/brand-logos/plurk.svg" class="h-50 align-self-center" alt="">
                  </span>
                </div>
              </th>
              <td>
                <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Top Authors</a>
                <span class="text-muted fw-bold d-block fs-7">Successful Fellas</span>
              </td>
              <td class="text-end">
                <span class="badge badge-light-success fw-bold me-1">Online</span>
              </td>
              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                      </g>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img src="/metronic8/demo1/assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center" alt="">
                  </span>
                </div>
              </th>
              <td>
                <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Popular Authors</a>
                <span class="text-muted fw-bold d-block fs-7">Most Successful</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">50%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                      </g>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img src="/metronic8/demo1/assets/media/svg/brand-logos/vimeo.svg" class="h-50 align-self-center" alt="">
                  </span>
                </div>
              </th>
              <td>
                <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">New Users</a>
                <span class="text-muted fw-bold d-block fs-7">Awesome Users</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">80%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                      </g>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img src="/metronic8/demo1/assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center" alt="">
                  </span>
                </div>
              </th>
              <td>
                <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Active Customers</a>
                <span class="text-muted fw-bold d-block fs-7">Best Customers</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">90%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                      </g>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img src="/metronic8/demo1/assets/media/svg/brand-logos/kickstarter.svg" class="h-50 align-self-center" alt="">
                  </span>
                </div>
              </th>
              <td>
                <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Bestseller Theme</a>
                <span class="text-muted fw-bold d-block fs-7">Amazing Templates</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">70%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                      </g>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </a>
              </td>
            </tr>
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <!--end::Table container-->
    </div>
  </div>
  <!--endW::Tables Widget 1-->
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '//cdn.jsdelivr.net/npm/apexcharts', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js', 'data-turbolinks-track': 'reload' %>
<% end %>