// Specific CSS for your home-page
.background-img-home-slider {
    background: rgb(16,14,63);
    // background: linear-gradient(360deg, rgba(16,14,63,1) 0%, rgba(15,12,61,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
}