<div class="d-flex align-items-center py-1">
  <!--begin::Button-->
  <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">Add an appliance</a>
  <!--end::Button-->
</div>