<div class="footer d-flex-align-items-center">
  <div class="footer-links">
    <a href="https://www.lewagon.com/" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.lewagon.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.lewagon.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.lewagon.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.lewagon.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Sport At Home - Your best ally for fitness at home</p>
  </div>
</div>