<div class="modal fade" id="repairer_add_modal" tabindex="-1" aria-hidden="true">
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-xl">
    <!--begin::Modal content-->
    <div class="modal-content rounded">
      <!--begin::Modal header-->
      <div class="modal-header justify-content-end border-0 pb-0">
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
          <span class="svg-icon svg-icon-1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"></rect>
                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>
              </g>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body pt-0 pb-15 px-5 px-xl-20">
        <!--begin::Heading-->
        <div class="mb-13 text-center">
          <h1 class="mb-3">Grant access to a repairer</h1>
          <div class="text-gray-400 fw-bold fs-5">
            Appliance <%= @appliance.model %>, Serial number: <%= @appliance.serial_number %>
          </div>
          <br>
          <div class="text-black-400 fw-bold fs-5">
            Enter repairer email:
          </div>
        </div>
        <!--end::Heading-->
        <!--begin::Plans-->
        <div class="d-flex flex-column">
          <%= simple_form_for :permission, url: permissions_path(appliance_id: @appliance.id) do |f| %>
            <%= f.input :user_email, label: "Enter your repairer email" %>
          
        </div>
        <!--end::Plans-->
        <!--begin::Actions-->
        <div class="d-flex flex-center flex-row-fluid pt-12">
          <button type="reset" class="btn btn-white me-3" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Give access!</button>
        </div>
        <% end %>
        
        <!--end::Actions-->
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>